#国内源
#--index-url https://pypi.tuna.tsinghua.edu.cn/simple

requests
dlib-bin
Click
numpy
face-recognition-models
lxml
beautifulsoup4
pillow==9.5.0
cloudscraper
pysocks==1.7.1
urllib3==1.25.11
certifi
MechanicalSoup
opencc-python-reimplemented
# Debian 11 (bullseye) x64 不再被新版本 Playwright 的 chromium 支持,
# 因此锁定到仍支持 debian11-x64 的版本。
playwright==1.49.1
